<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<!--  -->
<style>
	body, html {
	    margin: 0;
	    font-family: sans-serif;
	    background-color: lightblue;
	}

	.content {
	    margin:  auto;
	    width: 400px;
	}

	div {
	  	border: 0px solid black;
	  	margin: 25px 50px 75px 100px;
	  	background-color: lightblue;
	}

	.form {
	    margin-top: 20px;
	}

  /* input[type='file'] {color: red;} */

	#content {
	    width: 50%;
	}
  hr {width:100%; text-align:left;margin-left:0;}
	p {text-align: center;}
</style>
<!--  -->
<title>Stock Information</title>
<!-- load jQuery lib -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/stock_info.js') }}"></script>
</head>

<!--  -->
<!--  -->
<body>
	<div>
		<br><br><br><br>
		<form>
	    <label for="tickerInput">Ticker: </label>
	    <input type="text" id="tickerInput" placeholder="Stock Ticker">
		  <button type="submit">Submit</button>
		</form>
		<br>
		<div id="successAlert" role="alert" style="display:none;"></div>
		<div id="errorAlert" role="alert" style="display:none;"></div>
	</div>

	<br><br>
	<div>STILL DOESN"t catch the wrong ticker ERROR!!</div>

<!-- New division -->
<br>
<div>
<input type="button" onclick="location.href='/price_predict';" value="Predict Stock Price" />
</div>
</body>
</html>
