<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<!--  -->
<style>
	form.form-class {text-align: center;}
	hr.hr-class {border-top: 5px double #8c8b8b;}
	div.errorMsg-class {
		font-weight: bold; text-align: center; font-size: 25px;
		background-color: rgba(255, 0, 0, 0.3);
	}
</style>
<!--  -->
<title>Stock Information</title>
<!-- load jQuery lib -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/stock_info.js') }}"></script>
</head>

<!--  -->
<!--  -->
<body>
<div>
	<br><br><br><br>
	<form class="form-class">
    <label for="tickerInput">Ticker: </label>
    <input type="text" id="tickerInput" placeholder="Stock Ticker">
	  <button type="submit">Submit</button>
	</form>
</div>
<hr class="hr-class" />
<div id="successAlert" role="alert" style="display:none;">
<!-- display stock info -->
</div>
<div class="errorMsg-class" id="errorAlert" role="alert" style="display:none;"></div>

<!-- New division -->
<br>
<div>
<a href="/price_predict"><button>Go to predict stock price</button></a>
<!-- <input type="button" onclick="location.href='/price_predict';" value="Go to Predict Stock Price" /> -->
</div>
</body>
</html>
