{% extends 'base.html' %}

{% block head %}
<title>LSTM Time Series Predict</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Time Series Prediction</h1>
    <table>
<!-- ................................................................................. -->
        <tr>
          <td>
            <div class="form">
                <form action="/" method="GET">
                  <!-- load raw data -->
                    <input type="text" name="raw_data" id="raw_data">
                </form>
            </div>
          </td>
          <td>
            <div class="form">
                <form action="/" method="GET">
                    <!-- Add Train button -->
                    <input type="submit" value="Train Models">
                </form>
            </div>
          </td>
        </tr>
<!-- .................................................................................... -->
        <tr>
          <td>
            <div class="form">
                <form action="/" method="GET">
                  <!-- load raw data -->
                    <input type="text" name="predict" id="predict">
                </form>
            </div>
          </td>
          <td>
            <div class="form">
                <form action="/" method="GET">
                    <!-- Add Train button -->
                    <input type="submit" value="Make Predictions">
                </form>
            </div>
          </td>
        </tr>
<!-- ..................................................................................... -->
    </table>
</div>
{% endblock %}
